html, body {
    margin: 0;
    height: 100vh;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.blue {
    color: #0000ff;
}
.red {
    color: #ff0000;
}
.yellow {
    color: #ffff00;
}
.green {
    color: #008000;
}

/* MAIN PAGE */
.section-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.logo-main img {
    width: 7rem;
}
.logo-main h1 {
    display: inline;
    font-size: 7rem;
}

/* SEARCH PAGE */
.section-search {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 1rem;
}
.logo-search a {
    text-decoration: none;
}
.logo-search img {
    width: 4rem;
}
.logo-search h1 {
    display: inline;
    font-size: 4rem;
    text-decoration: none;
}
.input-search {
    margin-left: 2rem;
}
.tabs {
    margin: 1rem 0 0 25rem;
}
.tab-list {
    margin: 0;
    padding: 0;
}
.tab-list li {
    display: inline-block;
    padding: 0 1rem 0.8rem 1rem;
    font-size: 2rem;
    cursor: pointer;
}
.tab-list li a {
    text-decoration: none;
    color: grey;
 }
.tab-list li.active {
    border-bottom: 3px solid #1A73E8;
 }

.tab-list li.active a{
    font-weight: 700;
    color:#1A73E8;
 }

.results{
    width: 90%;
    margin: 1rem auto;
}

.results-count {
    font-size: 18px;
    color: green;
}

@media only screen and (max-width: 768px) {
    .logo-main {
        margin-bottom: 2rem;
    }
    .logo-main img {
        width: 3rem;
    }
    .logo-main h1 {
        font-size: 3rem;
    }
    .section-search {
        flex-direction: column;
    }
    .logo-search img {
        width: 2rem;
    }
    .logo-search h1 {
        font-size: 2rem;
    }
    .input-search {
        margin: 2rem 0;
    }
    .tabs {
        margin: 0 1rem;
        text-align: center;
    }
}

@media only screen and (max-width: 1024px) {
    .logo-main img {
        width: 5rem;
    }
    .logo-main h1 {
        font-size: 5rem;
    }
    .input-search {
        margin: 2rem 0;
    }
    .results-count {
        text-align: center;
    }
}
